.event.flight {
    .departure .departure-location, .connections .connection .connection-location, .arrival .arrival-location {
        .airport {
            background: var(--airport-background-color);
            padding: calc(var(--default-padding) / 2);

            > .name {
                font-size: var(--h6-font-size);
                overflow: hidden;

                &:before {
                    content: var(--airport-icon);
                    font-size: var(--h6-icon-size);
                }
            }

            > .address::before {
                content: "Address: ";
                font-weight: bold;
            }

            > .phone::before {
                content: "Phone: ";
                font-weight: bold;
            }

            > .frommers-guide-book-page::before {
                content: "Frommer's pg: ";
                font-weight: bold;
            }
        }
    }
}
