.event.attraction {
    background: var(--attraction-background-color);
    margin-top: var(--default-margin);
    padding: var(--default-padding);

    &.minor, &.optional {
        background: var(--minor-attraction-background-color);
        color: var(--minor-attraction-color);
    }

    &.major {
        border: 3px dotted var(--major-attraction-border-color);
    }

    &.omg {
        border: 3px dotted var(--omg-color);
        color: var(--omg-color);

        a::before {
            color: var(--omg-color);
        }
    }

    &.beach {
        background: var(--beach-background-color);

        &.minor, &.optional {
            background: var(--minor-attraction-beach-background-color);
            color: var(--minor-attraction-beach-color);
        }

        > .name::before {
            content: var(--beach-icon);
        }
    }

    &.hike {
        background: var(--hike-background-color);

        &.minor, &.optional {
            background: var(--minor-attraction-hike-background-color);
            color: var(--minor-attraction-hike-color);
        }

        > .name::before {
            content: var(--hike-icon);
        }
    }

    &.scenic-view {
        background: var(--scenic-view-background-color);

        > .name::before {
            content: var(--scenic-view-icon);
        }
    }

    > .name::before {
        content: var(--attraction-icon);
    }

    > .address::before {
        content: "Address: ";
        font-weight: bold;
    }

    > .phone::before {
        content: "Phone: ";
        font-weight: bold;
    }

    > .frommers-guide-book-page::before {
        content: "Frommer's pg: ";
        font-weight: bold;
    }
}
