body {
    color: var(--default-color);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.hide {
    display: none;
}

.extra-emphasis {
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}
