.day {
    background: var(--day-background-color);
    margin-top: var(--default-top-margin);
    padding: var(--default-padding);
}

.day > h3 {
    overflow: hidden;
}

.day > h3:before {
    content: var(--day-icon);
    display: block;
    float: left;
    font-family: "Material Icons";
    font-feature-settings: "liga" 1;
    font-size: var(--h3-icon-size);
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
