@import "./material_icons";

.day {
    background: var(--day-background-color);
    margin: var(--default-margin);
    padding: var(--default-padding);

    > .name {
        font-size: var(--h3-font-size);
        overflow: hidden;

        &:before {
            @include material-icon;
            content: var(--day-icon);
            font-size: var(--h3-icon-size);
        }
    }
}
