.header {
    margin: var(--default-margin) auto 0 auto;
    max-width: calc(100% - (var(--page-max-width-margin) * 2));
    width: var(--page-width);

    .main-nav {
        margin-top: var(--default-margin);

        .trips-nav-list {
            column-gap: var(--default-column-gap);
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            padding: 0;

            .trips-nav-list-item {
                a {
                    font-weight: 100;
                }
            }
        }
    }

    .controls {
        background: var(--controls-background-color);
        column-gap: var(--default-column-gap);
        display: flex;
        flex-wrap: wrap;
        margin-top: var(--default-margin);
        padding: var(--default-padding);
        row-gap: var(--default-row-gap);

        .control {
            border: none;
            cursor: pointer;
            flex: 1;
            padding: calc(var(--default-padding) / 2);

            &.on {
                background: var(--control-button-on-background-color);
            }

            &.off {
                background: var(--control-button-off-background-color);
            }
        }
    }
}

@media (max-width: 500px) {
    .header {
        .page-title {
            font-size: 28px;
        }
    }
}
