.hotel {
    background: var(--hotel-background-color);
    margin: 10px 10px 0 10px;
    padding: var(--default-padding);

    .hotel-name {
        overflow: hidden;

        &:before {
            content: var(--hotel-icon);
            display: block;
            float: left;
            font-family: "Material Icons";
            font-feature-settings: "liga" 1;
            font-size: var(--h3-icon-size);
            font-style: normal;
            font-weight: normal;
            padding-right: 5px;
            text-rendering: optimizeLegibility;
            -webkit-font-smoothing: antialiased;
        }
    }
}
