.leg {
    margin-top: var(--default-margin);
    overflow: hidden;

    &:nth-of-type(1) {
        margin-top: 0;
    }

    &.island {
        background: var(--island-background-color);
    }

    > .name {
        font-size: var(--h2-font-size);
        margin: var(--default-margin) var(--default-margin) 0 var(--default-margin);
        overflow: hidden;

        &:before {
            @include material-icon;
            content: var(--island-icon);
            font-size: var(--h2-icon-size);
        }
    }
}
