.leg {
    margin-top: var(--default-top-margin);

    &:nth-of-type(1) {
        margin-top: 0;
    }

    &.island {
        background: var(--island-background-color);
    }

    .leg-name {
        padding: var(--default-padding) var(--default-padding) 0 var(--default-padding);
        overflow: hidden;

        &:before {
            content: var(--island-icon);
            display: block;
            float: left;
            font-family: "Material Icons";
            font-feature-settings: "liga" 1;
            font-size: var(--h2-icon-size);
            font-style: normal;
            font-weight: normal;
            padding-right: 5px;
            text-rendering: optimizeLegibility;
            -webkit-font-smoothing: antialiased;
        }
    }
}
