@import "./material_icons";

.links {
    overflow: hidden;

    .link {
        a {
            height: var(--link-size);
            width: var(--link-size);

            &:before {
                @include material-icon;
                color: var(--link-color);
                font-size: var(--link-size);
            }
        }

        &.map a::before {
            content: var(--map-icon);
        }

        &.website a::before {
            content: var(--website-icon);
        }

        &.images a::before {
            content: var(--images-icon);
        }

        &.reviews a::before {
            content: var(--reviews-icon);
        }
    }
}
