// See https://google.github.io/material-design-icons/#setup-method-2-self-hosting.

@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: local("Material Icons"),
         local("MaterialIcons-Regular"),
         url("../fonts/MaterialIcons-Regular.woff2") format("woff2"),
         url("../fonts/MaterialIcons-Regular.woff") format("woff"),
         url("../fonts/MaterialIcons-Regular.ttf") format("truetype");
         // TODO: Figure out why Webpack, when it is run by Middleman, isn't properly rewriting
         // the url here. For some reason it keeps it as it is here rather than rewriting it to
         // be whatever the asset/resource loader rewrites it to. For now I've copied the
         // Material Icons fonts to the project directory. Webpack seems to handle that correctly.
         // See: https://stackoverflow.com/questions/63788424/how-can-i-make-middleman-work-with-custom-fonts-font-awesome-through-webpack.
         // url("~material-design-icons/iconfont/MaterialIcons-Regular.woff2") format("woff2"),
         // url("~material-design-icons/iconfont/MaterialIcons-Regular.woff") format("woff"),
         // url("~material-design-icons/iconfont/MaterialIcons-Regular.ttf") format("truetype")
}

@mixin material-icon {
    direction: ltr;
    display: block;
    float: left;
    font-family: "Material Icons";
    font-feature-settings: "liga";
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    padding-right: calc(var(--default-padding) / 2);
    text-rendering: optimizeLegibility;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
}
