@import "./material_icons";

.event.meal {
    background: var(--meal-background-color);

    > .name::before {
        content: var(--meal-icon);
    }

    > .restaurant {
        background: var(--restaurant-background-color);
        margin-top: calc(var(--default-margin) / 2);
        padding: calc(var(--default-padding) / 2);

        > .name {
            font-size: var(--h5-font-size);
            overflow: hidden;

            &:before {
                @include material-icon;
                font-size: var(--h5-icon-size);
            }
        }

        > .address::before {
            content: "Address: ";
            font-weight: bold;
        }

        > .phone::before {
            content: "Phone: ";
            font-weight: bold;
        }

        > .hours::before {
            content: "Hours: ";
            font-weight: bold;
        }

        > .price-range::before {
            content: "Price Range: ";
            font-weight: bold;
        }

        > .genre::before {
            content: "Genre: ";
            font-weight: bold;
        }

        > .frommers-guide-book-page::before {
            content: "Frommer's pg: ";
            font-weight: bold;
        }
    }

    > .ratings {
        background: var(--restaurant-background-color);
        margin-top: calc(var(--default-margin) / 2);
        padding: calc(var(--default-padding) / 2);

        &:before {
            content: "Ratings: ";
            float: left;
            font-weight: bold;
            margin-right: calc(var(--default-margin) / 2);
        }

        > .average {
            overflow: hidden;

            &:before {
                @include material-icon;
                color: var(--rating-color);
                font-size: 17px;
            }

            &.one-star::before {
                content: var(--rating-one-star-icon);
            }

            &.two-star::before {
                content: var(--rating-two-stars-icon);
            }

            &.three-star::before {
                content: var(--rating-three-stars-icon);
            }

            &.four-star:before {
                content: var(--rating-four-stars-icon);
            }

            &.five-star:before {
                content: var(--rating-five-stars-icon);
            }
        }
    }

    > .food {
        background: var(--restaurant-background-color);
        margin-top: calc(var(--default-margin) / 2);
        padding: calc(var(--default-padding) / 2);

        > .selection {
            > .name {
                font-size: var(--h6-font-size);
            }

            .items {
                margin: calc(var(--default-margin) / 2) 0 0 0;
            }
        }
    }
}
