.rental-car {
    background: var(--rental-car-background-color);
    margin: var(--default-margin) var(--default-margin) 0 var(--default-margin);
    padding: var(--default-padding);

    > .name {
        overflow: hidden;

        &:before {
            @include material-icon;
            content: var(--rental-car-icon);
            font-size: var(--h3-icon-size);
        }
    }

    .company {
        &:before {
            content: "Company: ";
            font-weight: bold;
        }
    }

    .car-make-model {
        &:before {
            content: "Car Make/Model: ";
            font-weight: bold;
        }
    }

    .price {
        &:before {
            content: "Price: ";
            font-weight: bold;
        }
    }

    .pickup {
        background: var(--rental-car-pickup-background-color);

        h4 {
            &:before {
                content: var(--rental-car-pickup-icon);
            }
        }
    }

    .dropoff {
        background: var(--rental-car-dropoff-background-color);

        h4 {
            &:before {
                content: var(--rental-car-dropoff-icon);
            }
        }
    }

    .pickup, .dropoff {
        margin-top: var(--default-margin);
        padding: var(--default-padding);

        h4 {
            overflow: hidden;

            &:before {
                @include material-icon;
                font-size: var(--h4-icon-size);
            }
        }

        .location {
            &:before {
                content: "Location: ";
                font-weight: bold;
            }
        }

        .time {
            &:before {
                content: "Time: ";
                font-weight: bold;
            }
        }

        .date {
            &:before {
                content: "Date: ";
                font-weight: bold;
            }
        }
    }
}
