.attraction.beach {
  background: var(--beach-background-color);
}

.attraction.beach > h4:before {
  content: var(--beach-icon);
}

.attraction.minor.beach, .attraction.optional.beach {
  background: var(--minor-attraction-beach-background-color);
  color: var(--minor-attraction-beach-color);
}