.island {
  background: var(--island-background-color);
  margin-top: var(--default-top-margin);
  padding: var(--default-padding);
}

.island > h2 {
  overflow: hidden;
}

.island > h2:before {
  content: var(--island-icon);
  display: block;
  float: left;
  font-family: "Material Icons";
  font-feature-settings: "liga" 1;
  font-size: var(--h2-icon-size);
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.island:nth-of-type(1) {
  margin-top: 20px;
}
