.controls {
  background: var(--airport-background-color);
  margin-top: var(--default-top-margin);
  overflow: hidden;
  padding: var(--default-padding);
}

.controls button.control {
  border: none;
  cursor: pointer;
  display: block;
  float: left;
  margin-right: 10px;
  padding: 5px;
}

.controls button.control.on {
  background: #34c2d0;
}

.controls button.control.off {
  background: d8d8ec;
}