.info.price {
  display: none;
}

.info.price.show {
  display: block;
}

.info.frommers-guide-book-page {
  color: var(--link-color);
  font-style: normal;
}

.info.notes {
  font-size: 12px;
  font-style: italic;
}

.info.notes.danger {
  color: var(--danger-color);
}

.info.rating:before {
  color: var(--rating-color);
  display: block;
  float: left;
  font-family: "Material Icons";
  font-feature-settings: "liga" 1;
  font-size: var(--h5-icon-size);
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.info.rating.one-star:before, .info.rating.one-stars:before {
  content: var(--rating-one-star-icon);
}

.info.rating.two-star:before, .info.rating.two-stars:before {
  content: var(--rating-two-stars-icon);
}

.info.rating.three-star:before, .info.rating.three-stars:before {
  content: var(--rating-three-stars-icon);
}

.info.rating.four-star:before, .info.rating.four-stars:before {
  content: var(--rating-four-stars-icon);
}

.info.rating.five-star:before, .info.rating.five-stars:before {
  content: var(--rating-five-stars-icon);
}
