:root {
  --default-top-margin: 15px;
  --default-padding: 10px;
  --default-color: #444444;
  --h1-icon-size: 48px;
  --h2-icon-size: 24px;
  --h3-icon-size: 18px;
  --h4-icon-size: 16px;
  --h5-icon-size: 15px;
  --h6-icon-size: 14px;
  --link-size: 24px;
  --link-color: #0000ff;
  --island-background-color: #f9f9f9;
  --hotel-background-color: #ee7a9f;
  --day-background-color: #ededed;
  --airport-background-color: #e4e4e4;
  --flight-background-color: #dbdbdb;
  --connection-background-color: #ffd1d1;
  --attraction-background-color: #e4e4e4;
  --minor-attraction-background-color: #e8e8e8;
  --beach-background-color: #edcafc;
  --hike-background-color: #c7ffc8;
  --minor-attraction-beach-background-color: #f8ecfe;
  --minor-attraction-hike-background-color: #ebffeb;
  --major-attraction-border-color: #ffd700;
  --minor-attraction-color: #a5a5a5;
  --minor-attraction-beach-color: #dd9af9;
  --minor-attraction-hike-color: #00f004;
  --map-icon: "\E55B";
  --website-icon: "\E80B";
  --images-icon: "\E413";
  --island-icon: "\E564";
  --hotel-icon: "\E53A";
  --day-icon: "\E430";
  --airport-icon: "\E539";
  --airport-arriving-icon: "\E904";
  --airport-departing-icon: "\E905";
  --connection-icon: "\E572";
  --attraction-icon: "\E55F";
  --beach-icon: "\EB3E";
  --hike-icon: "\E536";
  --route-icon: "\E531";
  --route-part-icon: "\E566"
}