.trip
  .island
    %h2 O'ahu
    .day
      %h3 Day 1 - Friday Oct 27
      .airport.arriving
        %h4 Honolulu International Airport (HNL)
        .links
          .link.map
            %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=21.33285196785694%2C-157.93720178943943&z=13", target: "_blank"}
          .link.website
            %a{href: "http://airports.hawaii.gov/hnl/", target: "_blank"}
          .link.images
            %a{href: "https://www.google.com/search?tbm=isch&q=Honolulu+International+Airport", target: "_blank"}
        .info.address 300 Rodgers Blvd, Honolulu, HI 96819
        .info.phone +1 808-836-6411
        %cite.info.frommers-guide-book-page Frommer's pg. 57
        .flight
          %h5 Flight
          .flight-number AA 761
          .departure-location Dallas/Fort Worth International Airport (DFW)
          .departure-time 7:10 AM
          .duration 2h 35m
          .connections
            %h6 Connections:
            .connection
              .flight-number AA 692
              .connection-location Phoenix Sky Harbor International Airport (PHX)
              .connection-arrival-time 7:45 AM
              .connection-departure-time 10:35 AM
              .connection-layover-duration 2h 40m
              .connection-duration 6h 43m
          .arrival-location Honolulu International Airport (HNL)
          .arrival-time 2:13 PM
          .total-duration 12h 3m
          .price $502.80 + $5.60 = $508.40
      .rental-car
        %h4 Rental Car
        .company Budget
        .car-make-model Mazda 3
        .price $126.07
        .pickup
          %h5 Pickup
          .location Honolulu International Airport (HNL)
          .time 3:00 PM
          .date 10/27/17
        .dropoff
          %h5 Dropoff
          .location Honolulu International Airport (HNL)
          .time 1:00 PM
          .date 10/30/17
      .attraction.normal.beach
        %h4 Waikiki Beach
        .links
          .link.map
            %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=21.276629942039932%2C-157.82878119167935&z=15", target: "_blank"}
          .link.website
            %a{href: "https://www.to-hawaii.com/oahu/beaches/waikiki-beach.php", target: "_blank"}
          .link.images
            %a{href: "https://www.google.com/search?tbm=isch&q=Waikiki+Beach", target: "_blank"}
        .info.address Honolulu, HI 96815
        %cite.info.frommers-guide-book-page Frommer's pg. 102
      .attraction.minor
        %h4 Duke Kahanamoku Statue
        .links
          .link.map
            %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=21.276778496112843%2C-157.827089003595&z=15", target: "_blank"}
          .link.website
            %a{href: "https://www.to-hawaii.com/oahu/attractions/dukestatue.php", target: "_blank"}
          .link.images
            %a{href: "https://www.google.com/search?tbm=isch&q=Duke+Kahanamoku+Statue", target: "_blank"}
        .info.address Kalakaua Ave, Honolulu, HI 96815
      .meal.dinner
        %h4 Dinner
        .restaurant
          %h5 Marukame Udon
          .links
            .link.map
              %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=21.279337343720897%2C-157.82618586152796&z=18", target: "_blank"}
            .link.website
              %a{href: "http://www.toridollusa.com/menu-waikiki.php", target: "_blank"}
            .link.images
              %a{href: "https://www.google.com/search?tbm=isch&q=Marukame+Udon", target: "_blank"}
            .link.reviews
              %a{href: "https://www.yelp.com/biz/marukame-udon-honolulu", target: "_blank"}
          .info.address 2310 Kuhio Avenue, Suite 124 Honolulu, HI 96815
          .info.phone +1 808-931-6000
          .info.hours 7:00 AM - 10:00 PM
          .info.rating.four-stars Sean: 4, Casie: 4
          .info.price-range $
          .info.genre Japanese, noodles
          %cite.info.frommers-guide-book-page Frommer's pg. 143
          .info.selection
            %h6 Casie
            %ul.casies
              %li Niku Udon
              %li Shrimp Tempura
              %li Mushroom Tempura
              %li Soda
            %h6 Sean
            %ul.sean
              %li Nikitama Udon
              %li Shrimp Tempura
              %li Calamari Tempura
              %li Potato Croquette
              %li Soda
            %h6 Shared
            %ul.shared
              %li Asparagus Tempura
    .day
      %h3 Day 2 - Saturday Oct 28
      .meal.breakfast
        %h4 Breakfast
        .restaurant
          %h5 Surf Lanai Restaurant
          .links
            .link.map
              %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=21.27713740450897%2C-157.82887332866676&z=18", target: "_blank"}
            .link.website
              %a{href: "https://www.royal-hawaiian.com/dining/surflanai/", target: "_blank"}
            .link.images
              %a{href: "https://www.google.com/search?tbm=isch&q=Surf+Lanai+Restaurant", target: "_blank"}
            .link.reviews
              %a{href: "https://www.yelp.com/biz/surf-lanai-honolulu", target: "_blank"}
          .info.address 2259 Kalakaua Ave, Honolulu, HI 96815
          .info.phone +1 808-921-4600
          .info.hours 6:30 AM - 11:00 AM, 11:30 PM - 2:00 PM
          .info.rating.four-stars Casie: 3, Sean: 4
          .info.price-range $$
          .info.genre breakfast and brunch, American
          .info.selection
            %h6 Casie
            %ul.casie
              %li ‘The Royal Bake Shop’ Banana Bread French Toast
              %li Royal Kona Coffee
            %h6 Sean
            %ul.sean
              %li ‘The Works’ Omelet
              %li Royal Kona Coffee
      .attraction.major.hike
        %h4 Diamond Head State Monument
        .links
          .link.map
            %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=21.285845996799853%2C-157.81406118349605&z=16", target: "_blank"}
          .link.website
            %a{href: "http://dlnr.hawaii.gov/dsp/parks/oahu/diamond-head-state-monument/", target: "_blank"}
          .link.images
            %a{href: "https://www.google.com/search?tbm=isch&q=Diamond+Head+State+Monument", target: "_blank"}
        .info.address 4191 Diamond Head Rd, Honolulu, HI 96816
        .info.phone +1 808-587-0300
        %cite.info.frommers-guide-book-page Frommer's pg. 114
      .meal.snack
        %h4 Snack
        .restaurant
          %h5 Uncle Clay's House of Pure Aloha
          .links
            .link.map
              %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=21.28396624494161%2C-157.75830956960453&z=14", target: "_blank"}
            .link.website
              %a{href: "https://uncleclays.com/shave-ice/", target: "_blank"}
            .link.images
              %a{href: "https://www.google.com/search?tbm=isch&q=", target: "_blank"}
            .link.reviews
              %a{href: "https://www.yelp.com/biz/uncle-clays-house-of-pure-aloha-honolulu-2", target: "_blank"}
          .info.address 820 W Hind Dr #116, Honolulu, HI 96821
          .info.phone +1 808-373-5111
          .info.hours 10:30 AM - 7:45 PM
          .info.rating.five-stars Casie: 5, Sean: 5
          .info.price-range $
          .info.genre shaved ice
          .info.selection
            %h6 Casie
            %ul.casie
              %li Classic Rainbow
            %h6 Sean
            %ul.sean
              %li Pina Colada
      .attraction.normal.beach
        %h4 Hanauma Bay Nature Preserve
        .links
          .link.map
            %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=21.27441396226611%2C-157.6980041640411&z=14", target: "_blank"}
          .link.website
            %a{href: "https://www.honolulu.gov/cms-dpr-menu/site-dpr-sitearticles/1716-hanauma-bay-home.html", target: "_blank"}
          .link.images
            %a{href: "https://www.google.com/search?tbm=isch&q=Hanauma+Bay+Nature+Preserve", target: "_blank"}
        .info.address 100 Hanauma Bay Rd, Honolulu, HI 96825
        .info.phone +1 808-396-4229
        %cite.info.frommers-guide-book-page Frommer's pg. 104
      .attraction.normal
        %h4 Lanai Lookout
        .links
          .link.map
            %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=21.276097765431473%2C-157.686989392932&z=16", target: "_blank"}
          .link.website
            %a{href: "https://www.to-hawaii.com/oahu/attractions/lanailookout.php", target: "_blank"}
          .link.images
            %a{href: "https://www.google.com/search?tbm=isch&q=Lanai+Lookout+Oahu", target: "_blank"}
        .info.address 7949-7967 Kalanianaole Hwy, Honolulu, HI 96825
      .attraction.minor.beach
        %h4 Wawamalu Beach Park
        .links
          .link.map
            %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=21.287438729508644%2C-157.66992662605742&z=16", target: "_blank"}
          .link.website
            %a{href: "https://www.to-hawaii.com/oahu/beaches/wawamalubeach.php", target: "_blank"}
          .link.images
            %a{href: "https://www.google.com/search?tbm=isch&q=Wawamalu+Beach+Park", target: "_blank"}
        .info.address 8549 Kalanianaole Hwy, Honolulu, HI 96825
      .attraction.minor
        %h4 Makapu'u Lookout
        .links
          .link.map
            %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=21.31149381502788%2C-157.6585403412979&z=15", target: "_blank"}
          .link.website
            %a{href: "https://www.to-hawaii.com/oahu/attractions/makapuulookout.php", target: "_blank"}
          .link.images
            %a{href: "https://www.google.com/search?tbm=isch&q=Makapu%27u+Lookout", target: "_blank"}
        .info.address Kalanianaole Hwy, Honolulu, HI 96825
        .info.phone +1 808-464-0840
        %cite.info.frommers-guide-book-page Frommer's pg. 116
      .meal.lunch
        %h4 Lunch
        .restaurant
          %h5 Ono Steaks &amp; Shrimp Shack
          .links
            .link.map
              %a{href: "", target: "_blank"}
            .link.website
              %a{href: "", target: "_blank"}
            .link.images
              %a{href: "https://www.google.com/search?tbm=isch&q=Ono+Steaks+and+Shrimp+Shack", target: "_blank"}
            .link.reviews
              %a{href: "https://www.yelp.com/biz/ono-steaks-and-shrimp-shack-waimanalo", target: "_blank"}
          .info.address 2310 Kuhio Avenue, Suite 124 Honolulu, HI 96815
          .info.phone +1 808-931-6000
          .info.hours 7:00 AM - 10:00 PM
          .info.rating.four-stars Sean: 4, Casie: 4
          .info.price-range $
          .info.genre Japanese, noodles
          %cite.info.frommers-guide-book-page Frommer's pg. 143
          .info.selection
            %h6 Casie
            %ul.casie
              %li Shrimp and Steak Plate
              %li Potato Macaroni Salad
              %li White Rice
              %li Soda
            %h6 Sean
            %ul.sean
              %li
                %a{href: "https://en.wikipedia.org/wiki/Prosopis_pallida", target: "_blank"} Kaiwe
                Slow Smoked Pork with Onions
              %li Potato Macaroni Salad
              %li White Rice
              %li Soda
      .attraction.major.beach
        %h4 Kailua Beach Park
        .links
          .link.map
            %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=21.39779089765779%2C-157.7315457032105&z=13", target: "_blank"}
          .link.website
            %a{href: "https://www.to-hawaii.com/oahu/beaches/kailuabeachpark.php", target: "_blank"}
          .link.images
            %a{href: "https://www.google.com/search?tbm=isch&q=Kailua+Beach+Park", target: "_blank"}
        .info.address 526 Kawailoa Rd, Kailua, HI 96734
        .info.phone +1 808-266-7652
        %cite.info.frommers-guide-book-page Frommer's pg. 106
      .attraction.major.beach.omg
        %h4 Lanikai Beach
        .links
          .link.map
            %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=21.40142002794666%2C-157.72734781523747&z=13", target: "_blank"}
          .link.website
            %a{href: "https://www.to-hawaii.com/oahu/beaches/lanikaibeach.php", target: "_blank"}
          .link.images
            %a{href: "https://www.google.com/search?tbm=isch&q=Lanikai+Beach", target: "_blank"}
        .info.address Kailua, HI 96734
        .info.phone +1 808-261-2727
        .info.notes desktop.png
        %cite.info.frommers-guide-book-page Frommer's pg. 106
      .meal.dinner
        %h4 Dinner
        .restaurant
          %h5 Duke's Waikiki
          .links
            .link.map
              %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=21.27721902447238%2C-157.8279704089996&z=16", target: "_blank"}
            .link.website
              %a{href: "http://www.dukeswaikiki.com/menus/dining-room", target: "_blank"}
            .link.images
              %a{href: "https://www.google.com/search?tbm=isch&q=Duke%27s+Waikiki", target: "_blank"}
            .link.reviews
              %a{href: "https://www.yelp.com/biz/dukes-waikiki-honolulu-2", target: "_blank"}
          .info.address 2335 Kalakaua Ave, Ste 116, Honolulu, HI 96815
          .info.phone +1 808-922-2268
          .info.hours 7:00 AM - 12: 00 AM
          .info.rating.four-stars Casie: , Sean: 4
          .info.price-range $$$
          .info.genre Hawaiian, seafood
          .info.selection
            %h6 Casie
            %ul.casie
              %li Seven Spice Ahi
            %h6 Sean
            %ul.sean
              %li Sautéed Mac Nut and Herb Crusted Mahi-mahi
            %h6 Shared
            %ul.shared
              %li Panko Fried Calamari
      .route
        %h4 Route
        .part
        .part
    .day
      %h3 Day 3 - Sunday Oct 29
      .meal.breakfast
        %h4 Breakfast
        .restaurant
          %h5 Leonard's Bakery
          .links
            .link.map
              %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=21.285198759754678%2C-157.81340109999996&z=15", target: "_blank"}
            .link.website
              %a{href: "https://www.leonardshawaii.com/home/", target: "_blank"}
            .link.images
              %a{href: "https://www.google.com/search?tbm=isch&q=Leonard%27s+Bakery+Honolulu", target: "_blank"}
            .link.reviews
              %a{href: "https://www.yelp.com/biz/leonards-bakery-honolulu", target: "_blank"}
          .info.address 933 Kapahulu Ave, Honolulu, HI 96816
          .info.phone
          .info.hours 5:30 AM - 10:00 AM
          .info.rating.three-stars Casie: , Sean: 2*
          .info.price-range $
          .info.genre bakery
          .info.notes
            * Food was fantastic, service was friendly but ultimately
            = succeed "," do
              %span.extra-emphasis awful
          .info.selection
            %h6 Casie
            %ul.casie
              %li Coffee
            %h6 Sean
            %ul.sean
              %li Iced Mocha Macademia Nut Latte
            %h6 Shared
            %ul.shared
              %li 4 × Dobash Malasadas
              %li 4 × Custard Malasadas
              %li 4 × Haupia Malasadas
              %li Macadamia Nut Cookies
      .attraction.normal.beach
        %h4 Nanakuli Beach Park
        .links
          .link.map
            %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=21.38552291121506%2C-158.14377594683538&z=13", target: "_blank"}
          .link.website
            %a{href: "https://www.to-hawaii.com/oahu/beaches/nanakulibeachpark.php", target: "_blank"}
          .link.images
            %a{href: "https://www.google.com/search?tbm=isch&q=Kalaniana%27ole+Beach+Park", target: "_blank"}
        .info.address 89-269 Farrington Hwy, Waianae, HI 96792
        .info.phone +1 808-668-1137
      .attraction.major.beach.omg
        %h4 Mermaid's Secret Cave
        .links
          .link.map
            %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=21.38222340689748%2C-158.15794916923835&z=12", target: "_blank"}
          .link.website
            %a{href: "https://lookintohawaii.com/hawaii/47144/mermaid-cave-tunnels-activities-oahu-waianae-hi", target: "_blank"}
          .link.images
            %a{href: "https://www.google.com/search?tbm=isch&q=Mermaid%27s+Secret+Cave", target: "_blank"}
        .info.address 416 Keaulana Ave Ste 89, Waianae, HI 96792
      .attraction.minor.beach
        %h4 Maipalaoa Beach Park
        .links
          .link.map
            %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=21.403686296090882%2C-158.18155965878293&z=13", target: "_blank"}
          .link.website
            %a{href: "https://lookintohawaii.com/hawaii/45036/maipalaoa-beach-park-beaches-oahu-waianae-hi", target: "_blank"}
          .link.images
            %a{href: "https://www.google.com/search?tbm=isch&q=Maipalaoa+Beach+Park", target: "_blank"}
        .info.address Maipalaoa Rd, Waianae, HI 96792
      .attraction.normal.beach
        %h4 Ma'ili Beach Park
        .links
          .link.map
            %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=21.421239592004945%2C-158.17878388913272&z=13", target: "_blank"}
          .link.website
            %a{href: "https://www.to-hawaii.com/oahu/beaches/mailibeachpark.php", target: "_blank"}
          .link.images
            %a{href: "https://www.google.com/search?tbm=isch&q=Ma%27ili+Beach+Park", target: "_blank"}
        .info.address 87-21 Farrington Hwy, Waianae, HI 96792
        .info.phone +1 808-768-3003
      .meal.lunch
        %h4 Lunch
        .restaurant
          %h5 Countryside Cafe
          .links
            .link.map
              %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=21.429354968151422%2C-158.17881123068844&z=14", target: "_blank"}
            .link.website
              %a{href: "http://www.countrysidecafe808.net/menu", target: "_blank"}
            .link.images
              %a{href: "https://www.google.com/search?tbm=isch&q=Countryside+Cafe+Waianae", target: "_blank"}
            .link.reviews
              %a{href: "https://www.yelp.com/biz/countryside-cafe-waianae", target: "_blank"}
          .info.address 87-70 Farrington Hwy #104, Waianae, HI 96792
          .info.phone +1 808-888-5448
          .info.hours 7:00 AM - 1:00 PM
          .info.rating.four-stars Casie: , Sean: 4
          .info.price-range $$
          .info.genre breakfast and brunch, cafes, waffles
          .info.selection
            %h6 Casie
            %ul.casie
            %h6 Sean
            %ul.sean
            %h6 Shared
            %ul.shared
      .attraction.minor
        %h4 Kaneana Cave
        .links
          .link.map
            %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=21.520049986749058%2C-158.22776205000002&z=13", target: "_blank"}
          .link.website
            %a{href: "https://www.to-hawaii.com/oahu/ancientsites/kaneanacave.php", target: "_blank"}
          .link.images
            %a{href: "https://www.google.com/search?tbm=isch&q=Kaneana+Cave", target: "_blank"}
        .info.address Farrington Hwy, Waianae, HI 96792
      .attraction.normal.beach
        %h4 Keawaula Beach
        .links
          .link.map
            %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=21.549057870981894%2C-158.24188860000004&z=13", target: "_blank"}
          .link.website
            %a{href: "https://www.to-hawaii.com/oahu/beaches/yokohama-bay.php", target: "_blank"}
          .link.images
            %a{href: "https://www.google.com/search?tbm=isch&q=Keawaula+Beach", target: "_blank"}
        .info.address Farrington Hwy, Waialua, HI 96791
        .info.phone +1 808-587-0300
        %cite.info.frommers-guide-book-page Frommer's pg. 108
      .attraction.normal.hike
        %h4 Kaena Point State Park
        .links
          .link.map
            %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=21.5794864142986%2C-158.2866086915314&z=13", target: "_blank"}
          .link.website
            %a{href: "http://dlnr.hawaii.gov/dsp/hiking/oahu/kaena-point-trail/", target: "_blank"}
          .link.images
            %a{href: "https://www.google.com/search?tbm=isch&q=Kaena+Point+State+Park", target: "_blank"}
        .info.address Waialua, HI 96791
        %cite.info.frommers-guide-book-page Frommer's pg. 117
      .attraction.optional.beach
        %h4 Makua Beach
        .links
          .link.map
            %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=21.53367620920656%2C-158.23023799999999&z=14", target: "_blank"}
          .link.website
            %a{href: "https://www.to-hawaii.com/oahu/beaches/makuabeach.php", target: "_blank"}
          .link.images
            %a{href: "https://www.google.com/search?tbm=isch&q=", target: "_blank"}
        .info.address Waianae, HI 96792
      .attraction.normal.beach
        %h4 Laniakea Beach
        .links
          .link.map
            %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=21.622340251706397%2C-158.0938447545227&z=13", target: "_blank"}
          .link.website
            %a{href: "https://www.to-hawaii.com/oahu/beaches/laniakeabeach.php", target: "_blank"}
          .link.images
            %a{href: "https://www.google.com/search?tbm=isch&q=Laniakea+Beach", target: "_blank"}
        .info.address 574, 61-574 Pohaku Loa Way, Haleiwa, HI 96712
        .info.phone +1 808-464-0840
      .attraction.major.beach
        %h4 Waimea Bay Beach Park
        .links
          .link.map
            %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=21.640322940435652%2C-158.06500564319458&z=13", target: "_blank"}
          .link.website
            %a{href: "https://www.to-hawaii.com/oahu/beaches/waimea-bay-beach-park.php", target: "_blank"}
          .link.images
            %a{href: "https://www.google.com/search?tbm=isch&q=Waimea+Bay+Beach+Park", target: "_blank"}
        .info.address 61-31 Kamehameha Hwy, Haleiwa, HI 96712
        %cite.info.frommers-guide-book-page Frommer's pg. 108
      .meal.dinner
        %h4 Dinner
        .restaurant
          %h5 Jinroku
          .links
            .link.map
              %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=21.27640399848348%2C-157.8242622036529&z=18", target: "_blank"}
            .link.website
              %a{href: "http://www.jinrokupacific.com/menueng.html", target: "_blank"}
            .link.images
              %a{href: "https://www.google.com/search?tbm=isch&q=Jinroku+Waikiki", target: "_blank"}
            .link.reviews
              %a{href: "https://www.yelp.com/biz/jinroku-honolulu", target: "_blank"}
          .info.address 2427 Kuhio Ave, Honolulu, HI 96815
          .info.phone +1 808-926-8955
          .info.hours 11:30 AM - 2:00 PM, 5:30 PM - 10:30 PM
          .info.rating.four-stars Casie: , Sean: 4
          .info.price-range $$
          .info.genre Japanese, seafood
          %cite.info.frommers-guide-book-page Frommer's pg. 142
          .info.selection
            %h6 Casie
            %ul.casie
              %li Iced Tea
            %h6 Sean
            %ul.sean
              %li Soda
            %h6 Shared
            %ul.shared
              %li Geen Asparagus Salad
              %li Dote-yaki
              %li Steak, Shrimp, Scallop, and Vegetable Teppanyaki
              %li Takoyaki
              %li Pork/Squid/Shrimp Tama
              %li Cream Kuromitsu Milk Pudding
    .day
      %h3 Day 4 - Monday Oct 30
      .meal.breakfast
        %h4 Breakfast
        .restaurant
          %h5 Kono's
          .links
            .link.map
              %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=21.288135220590156%2C-157.81489278704834&z=15", target: "_blank"}
            .link.website
              %a{href: "http://www.konosnorthshore.com/menu/", target: "_blank"}
            .link.images
              %a{href: "https://www.google.com/search?tbm=isch&q=Kono%27s+Honolulu", target: "_blank"}
            .link.reviews
              %a{href: "https://www.yelp.com/biz/konos-honolulu", target: "_blank"}
          .info.address 945 Kapahulu Ave, Honolulu, HI 96816
          .info.phone +1 808-892-1088
          .info.hours 7:30 AM - 6:30 PM
          .info.rating.five-stars Caise: , Sean: 5
          .info.price-range $
          .info.genre breakfast and brunch, Hawaiian, sandwiches
          .info.selection
            %h6 Casie
            %ul.casie
              %li Waimea Chun
              %li Iced Coffee
            %h6 Sean
            %ul.sean
              %li Haleiwa Chun
              %li Iced Coffee
      .attraction.normal
        %h4 Foster Botanical Garden
        .links
          .link.map
            %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=21.314762153467743%2C-157.87943979521793&z=13", target: "_blank"}
          .link.website
            %a{href: "https://www.to-hawaii.com/oahu/gardens/fosterbotanicalgardens.php", target: "_blank"}
          .link.images
            %a{href: "https://www.google.com/search?tbm=isch&q=Foster+Botanical+Garden", target: "_blank"}
        .info.address 180 N Vineyard Blvd, Honolulu, HI 96817
        .info.phone +1 808-522-7060
        .info.notes $5.00 for adults.
        %cite.info.frommers-guide-book-page Frommer's pg. 81
      .airport.departing
        %h4 Honolulu International Airport (HNL)
        .links
          .link.map
            %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=21.33285196785694%2C-157.93720178943943&z=13", target: "_blank"}
          .link.website
            %a{href: "http://airports.hawaii.gov/hnl/", target: "_blank"}
          .link.images
            %a{href: "https://www.google.com/search?tbm=isch&q=Honolulu+International+Airport", target: "_blank"}
        .info.address 300 Rodgers Blvd, Honolulu, HI 96819
        .info.phone +1 808-836-6411
        %cite.info.frommers-guide-book-page Frommer's pg. 57
        .flight
          %h5 Flight
          .flight-number HA 153
          .departure-location Honolulu International Airport (HNL)
          .departure-time 1:15 PM
          .duration 43m
          .arrival-location Lihue Airport (LIH)
          .arrival-time 1:58 PM
          .price $72.00 × 2 = $144.00
  .island
    %h2 Kaua'i
    .day
      %h3 Day 4 - Monday Oct 30
      .airport.arriving
        %h4 Lihue Airport (LIH)
        .links
          .link.map
            %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=21.98722376037447%2C-159.35138284917304&z=13", target: "_blank"}
          .link.website
            %a{href: "http://airports.hawaii.gov/lih/", target: "_blank"}
          .link.images
            %a{href: "https://www.google.com/search?tbm=isch&q=Lihue+Airport", target: "_blank"}
        .info.address 3901 Mokulele Loop, Lihue, HI 96766
        .info.phone +1 808-274-3800
        %cite.info.frommers-guide-book-page Frommer's pg. 490
        .flight
          %h5 Flight
          .flight-number HA 153
          .departure-location Honolulu International Airport (HNL)
          .departure-time 1:15 PM
          .duration 43m
          .arrival-location Lihue Airport (LIH)
          .arrival-time 1:58 PM
          .price $72.00 × 2 = $144.00
      .rental-car
        %h4 Rental Car
        .company Alamo
        .car-size Hyundai Santa Fe
        .price $174.73
        .pickup
          %h5 Pickup
          .location Lihue Airport (LIH)
          .time 2:30 PM
          .date 10/30/17
        .dropoff
          %h5 Dropoff
          .location Lihue Airport (LIH)
          .time 12:30 PM
          .date 11/3/17
      .meal.lunch
        %h4 Lunch
        .restaurant
          %h5 Tiki Tacos
          .links
            .link.map
              %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=22.06673025429459%2C-159.3198329948441&z=15", target: "_blank"}
            .link.website
              %a{href: "http://restaurantwebexpert.com/TikiTacos/", target: "_blank"}
            .link.images
              %a{href: "https://www.google.com/search?tbm=isch&q=Tiki+Taco+Kauai", target: "_blank"}
            .link.reviews
              %a{href: "https://www.yelp.com/biz/tiki-tacos-kapaa", target: "_blank"}
          .info.address 4-971 Kuhio Hwy, Kapaa, HI 96746
          .info.phone +1 808-823-8226
          .info.hours 10:00 AM - 8:30 PM
          .info.rating.two-stars Casie: 2, Sean: 2
          .info.price-range $
          .info.genre Mexican
          .info.selection
            %h6 Casie
            %ul.casie
              %li The Best Fish Taco
              %li Shrimp Taco
              %li Pineapple Jarritos
            %h6 Sean
            %ul.sean
              %li Spicy Kahuna Fish Taco
              %li Roasted Pork Taco
              %li Mango Jarritos
      .attraction.minor.beach
        %h4 Donkey Beach
        .links
          .link.map
            %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=22.119166590075096%2C-159.30567975678412&z=12", target: "_blank"}
          .link.website
            %a{href: "https://www.to-hawaii.com/kauai/beaches/donkeybeach.php", target: "_blank"}
          .link.images
            %a{href: "https://www.google.com/search?tbm=isch&q=Donkey+Beach+Kauai", target: "_blank"}
        .info.address Makanani St, Kealia, HI 96751
        %cite.info.frommers-guide-book-page Frommer's pg. 527
      .attraction.normal.beach
        %h4 Anahola Beach Park
        .links
          .link.map
            %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=22.16280581097035%2C-159.30567975678412&z=12", target: "_blank"}
          .link.website
            %a{href: "https://www.to-hawaii.com/kauai/beaches/anaholabeach.php", target: "_blank"}
          .link.images
            %a{href: "https://www.google.com/search?tbm=isch&q=Anahola+Beach+Park", target: "_blank"}
        .info.address Anahola Rd, Mile Marker 13, Anahola, HI 96703
        %cite.info.frommers-guide-book-page Frommer's pg. 526
      .meal.dinner
        %h4 Dinner
        .restaurant
          %h5 JO2 Restaurant
          .links
            .link.map
              %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=22.065534019483195%2C-159.3198329948441&z=15", target: "_blank"}
            .link.website
              %a{href: "http://www.jotwo.com/", target: "_blank"}
            .link.images
              %a{href: "https://www.google.com/search?tbm=isch&q=JO2+Restaurant", target: "_blank"}
            .link.reviews
              %a{href: "https://www.yelp.com/biz/jo2-kapaa-4", target: "_blank"}
          .info.address 4-971 Kuhio Hwy, Kapaa, HI 96746
          .info.phone +1 808-212-1627
          .info.hours 5:00 PM - 9:00 PM
          .info.rating.five-stars Casie: , Sean: 5
          .info.price-range $$
          .info.genre Asian fusion
          .info.selection
            %h6 Casie
            %ul.casie
              %li Potato Crusted Opakapaka
            %h6 Sean
            %ul.sean
              %li Seared Ahi and Scallops with a Port Kauai Vanilla Sauce
              %li Soda
            %h6 Shared
            %ul
              %li Valrhona Chocolate Cream Brûlée
    .day
      %h3 Day 5 - Tuesday Oct 31
      .meal.breakfast
        %h4 Breakfast
        .restaurant
          %h5 Kountry Kitchen
          .links
            .link.map
              %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=22.078156343310834%2C-159.31669437990115&z=15", target: "_blank"}
            .link.website
              %a{href: "http://www.kountrystylekitchen.com/", target: "_blank"}
            .link.images
              %a{href: "https://www.google.com/search?tbm=isch&q=Kountry+Kitchen+Kauai", target: "_blank"}
            .link.reviews
              %a{href: "https://www.yelp.com/biz/kountry-style-kitchen-restaurant-kapaa", target: "_blank"}
          .info.address 4-1485 Kuhio Hwy, Kapaa, HI 96746
          .info.phone +1 808-822-3511
          .info.hours 6:00 AM - 1:30 PM
          .info.rating.four-stars Casie:, Sean: 4
          .info.price-range $
          .info.genre American, breakfast and brunch, Hawaiian
          .info.selection
            %h6 Casie
            %ul.casie
              %li Traditional Loco Moco
              %li Iced Coffee
            %h6 Sean
            %ul.sean
              %li Kauai Benedict
              %li Iced Coffee
      .attraction.normal
        %h4 Kīlauea Lighthouse
        .links
          .link.map
            %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=22.232210290185%2C-159.40202470459906&z=13", target: "_blank"}
          .link.website
            %a{href: "https://www.to-hawaii.com/kauai/attractions/kilauea-lighthouse.php", target: "_blank"}
          .link.images
            %a{href: "https://www.google.com/search?tbm=isch&q=K%C4%ABlauea+Lighthouse", target: "_blank"}
        .info.address 3500 Kilauea Rd, Kilauea, HI 96754
        .info.phone +1 808-828-0384
      .attraction.normal.beach
        %h4 Queen's Bath
        .links
          .link.map
            %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=22.230850836157842%2C-159.50604180541086&z=13", target: "_blank"}
          .link.website
            %a{href: "https://www.to-hawaii.com/kauai/beaches/queensbath.php", target: "_blank"}
          .link.images
            %a{href: "https://www.google.com/search?tbm=isch&q=Queen%27s+Bath", target: "_blank"}
        .info.address Kapiolani Rd, Princeville, HI 96722
        .info.notes.danger Dangerous waves can occur without warning.
        %cite.info.frommers-guide-book-page Frommer's pg. 527
      .meal.lunch
        .restaurant
          %h5 Kalypso Island Bar &amp; Grill
          .links
            .link.map
              %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=22.20309069673345%2C-159.49771165980223&z=14", target: "_blank"}
            .link.website
              %a{href: "http://www.kalypsokauai.com/menu.html", target: "_blank"}
            .link.images
              %a{href: "https://www.google.com/search?tbm=isch&q=Kalypso+Island+Bar+and+Grill", target: "_blank"}
            .link.reviews
              %a{href: "https://www.yelp.com/biz/kalypso-island-bar-and-grill-hanalei", target: "_blank"}
          .info.address 5-5156 Kuhio Hwy, Ste G, Hanalei, HI 96714
          .info.phone +1 808-826-9700
          .info.hours 11:00 AM - 9:00 PM
          .info.rating.three-stars Casie: , Sean: 3
          .info.price-range $$
          .info.genre American, Hawaiian
          .info.selection
            %h6 Casie
            %ul.casie
            %h6 Sean
            %ul.sean
            %h6 Shared
            %ul.shared
      .attraction.normal.beach
        %h4 Hanalei Beach Park
        .links
          .link.map
            %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=22.217668733857423%2C-159.5029519006257&z=13", target: "_blank"}
          .link.website
            %a{href: "https://www.to-hawaii.com/kauai/beaches/hanaleibay.php", target: "_blank"}
          .link.images
            %a{href: "https://www.google.com/search?tbm=isch&q=Hanalei+Beach+Park", target: "_blank"}
        .info.address Hanalei, HI 96714
        %cite.info.frommers-guide-book-page Frommer's pg. 529
      .attraction.normal.beach
        %h4 Haena Beach Park
        .links
          .link.map
            %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=22.222565215344957%2C-159.57298232929531&z=14", target: "_blank"}
          .link.website
            %a{href: "https://www.to-hawaii.com/kauai/beaches/haena-beach-park.php", target: "_blank"}
          .link.images
            %a{href: "https://www.google.com/search?tbm=isch&q=Haena+Beach+Park", target: "_blank"}
        .info.address 7640 Kuhio Hwy, Hanalei, HI 96714
      .attraction.major.normal
        %h4 Maniniholo Dry Cave
        .links
          .link.map
            %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=22.220988566086376%2C-159.58431939330148&z=13", target: "_blank"}
          .link.website
            %a{href: "https://www.to-hawaii.com/kauai/ancientsites/maniniholodrycave.php", target: "_blank"}
          .link.images
            %a{href: "https://www.google.com/search?tbm=isch&q=Maniniholo+Dry+Cave", target: "_blank"}
        .info.address 5-7878 Kuhio Hwy, Kilauea, HI 96754
      .attraction.major.beach
        %h4 Ke'e Beach
        .links
          .link.map
            %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=22.220777701845094%2C-159.58449105467844&z=13", target: "_blank"}
          .link.website
            %a{href: "https://www.to-hawaii.com/kauai/beaches/kee-beach-park.php", target: "_blank"}
          .link.images
            %a{href: "https://www.google.com/search?tbm=isch&q=Ke%27e+Beach", target: "_blank"}
        .info.address State Hwy 56, Ha'ena, HI 96714
        .info.phone +1 808-241-6670
        %cite.info.frommers-guide-book-page Frommer's pg. 530
      .meal.dinner
        %h4 Dinner
        .restaurant
          %h5 Lemongrass Grill Seafood &amp; Bar
          .links
            .link.map
              %a{href: "", target: "_blank"}
            .link.website
              %a{href: "http://www.lemongrasshawaii.com/Menu.html", target: "_blank"}
            .link.images
              %a{href: "https://www.google.com/search?tbm=isch&q=Lemongrass+Grill+Seafood+and+Bar", target: "_blank"}
            .link.reviews
              %a{href: "https://www.yelp.com/biz/lemongrass-grill-seafood-and-bar-kapaa-2", target: "_blank"}
          .info.address 4-871 Kuhio Hwy, Kapaa, HI 96746
          .info.phone +1 808-821-2888
          .info.hours 4:00 PM - 9:30 PM
          .info.rating.three-stars Casie: Sean: 3
          .info.price-range $$
          .info.genre Asian fusion, seafood
          .info.selection
            %h6 Casie
            %ul.casie
              %li Pacific Coast Coconut Shrimp
            %h6 Sean
            %ul.sean
              %li Mixed Seafood Red Thai Curry
    .day
      %h3 Day 6 - Wednesday Nov 1
      .meal.breakfast
        %h4 Breakfast
      .attraction.major.hike
        %h4 Makauwahi Cave Trail
        .links
          .link.map
            %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=21.887870323992416%2C-159.4247812349028&z=13", target: "_blank"}
          .link.website
            %a{href: "http://www.cavereserve.org/", target: "_blank"}
          .link.images
            %a{href: "https://www.google.com/search?tbm=isch&q=Makauwahi+Cave+Trail", target: "_blank"}
        .info.address Koloa, HI 96756
        .info.phone +1 808-634-0605
      .attraction.major.omg
        %h4 Makauwahi Cave
        .links
          .link.map
            %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=21.88845525264154%2C-159.41886248876648&z=16", target: "_blank"}
          .link.website
            %a{href: "http://www.cavereserve.org/", target: "_blank"}
          .link.images
            %a{href: "https://www.google.com/search?tbm=isch&q=Makauwahi+Cave", target: "_blank"}
        .info.address Koloa, HI 96756
        .info.phone +1 808-634-0605
        .info.notes
          Tours are led from 10:00 AM to 2:00 PM. This cave is the subject of the book
          %a{href: "https://yalebooks.yale.edu/book/9780300172096/back-future-caves-kauai", target: "_blank"} "Back to the Future in the Caves of Kaua'i: A Scientist's Adventures in the Dark"
          by David A. Burney.
        %cite.info.frommers-guide-book-page Frommer's pg. 516
      .attraction.normal.hike
        %h4 Maha'ulepu Heritage Trail
        .links
          .link.map
            %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=21.87991822080648%2C-159.43096104447312&z=13", target: "_blank"}
          .link.website
            %a{href: "http://www.hikemahaulepu.org/", target: "_blank"}
          .link.images
            %a{href: "https://www.google.com/search?tbm=isch&q=Maha%27ulepu+Heritage+Trail", target: "_blank"}
        .info.address Maha'ulepu Heritage Trail, Koloa, HI 96756
        %cite.info.frommers-guide-book-page Frommer's pg. 554
      .meal.lunch
        %h4 Lunch
      .meal.snack
        %h4 Snack
      .attraction.major.beach.omg
        %h4 Po'ipu Beach Park
        .links
          .link.map
            %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=21.88165359176226%2C-159.4592851716704&z=13", target: "_blank"}
          .link.website
            %a{href: "https://www.to-hawaii.com/kauai/beaches/poipu-beach-park.php", target: "_blank"}
          .link.images
            %a{href: "https://www.google.com/search?tbm=isch&q=Po%27ipu+Beach+Park", target: "_blank"}
        .info.address Hoona Rd, Po'ipu, HI 96756
        .info.phone +1 808-742-7444
        .info.notes Literally the best beach in the United States.
        %cite.info.frommers-guide-book-page Frommer's pg. 532
      .attraction.normal
        %h4 Spouting Horn Park
        .links
          .link.map
            %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=21.884483563633854%2C-159.49761178229681&z=13", target: "_blank"}
          .link.website
            %a{href: "https://www.to-hawaii.com/kauai/attractions/spouting-horn.php", target: "_blank"}
          .link.images
            %a{href: "https://www.google.com/search?tbm=isch&q=Spouting+Horn+Park", target: "_blank"}
        .info.address Po'ipu, HI
        .info.phone +1 808-742-7444
      .attraction.normal.beach
        %h4 Shipwreck Beach
        .links
          .link.map
            %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=21.875108563042097%2C-159.44160404984422&z=13", target: "_blank"}
          .link.website
            %a{href: "https://www.to-hawaii.com/kauai/beaches/shipwreckbeach.php", target: "_blank"}
          .link.images
            %a{href: "https://www.google.com/search?tbm=isch&q=Shipwreck+Beach+Kauai", target: "_blank"}
        .info.address Ainako Rd, Eastern End, Po'ipu, HI 96756
        .info.notes The shipwreck was destroyed entirely by hurricane 'Iwa in 1982.
        %cite.info.frommers-guide-book-page Frommer's pg. 533
      .meal.dinner
        %h4 Dinner
    .day
      %h3 Day 7 - Thursday Nov 2
      .meal.breakfast
        %h4 Breakfast
      .attraction.major
        %h4 Waimea Canyon Lookout
        .links
          .link.map
            %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=22.076939618817597%2C-159.6728780105925&z=13", target: "_blank"}
          .link.website
            %a{href: "https://www.to-hawaii.com/kauai/scenicdrives/waimeacanyondrive.php", target: "_blank"}
          .link.images
            %a{href: "https://www.google.com/search?tbm=isch&q=Waimea+Canyon+Lookout", target: "_blank"}
        .info.address Waimea, HI 96796
        %cite.info.frommers-guide-book-page Frommer's pg. 522
      .attraction.normal
        %h4 Kokee Natural History Museum
        .links
          .link.map
            %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=22.134898920452788%2C-159.67149171022652&z=13", target: "_blank"}
          .link.website
            %a{href: "http://www.kokee.org/", target: "_blank"}
          .link.images
            %a{href: "https://www.google.com/search?tbm=isch&q=Kokee+Natural+History+Museum", target: "_blank"}
        .info.address 3600 Kokee Rd, Kekaha, HI 96752
        .info.phone +1 808-335-9975
      .meal.lunch
        %h4 Lunch
      .attraction.major
        %h4 Kalalau Lookout
        .links
          .link.map
            %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=22.154671025211968%2C-159.66436224242835&z=13", target: "_blank"}
          .link.website
            %a{href: "https://www.to-hawaii.com/kauai/scenicdrives/waimeacanyondrive.php", target: "_blank"}
          .link.images
            %a{href: "https://www.google.com/search?tbm=isch&q=Kalalau+Lookout", target: "_blank"}
        .info.address Kokee Rd, Kapaa, HI 96746
        %cite.info.frommers-guide-book-page Frommer's pg. 519
      .attraction.major.omg
        %h4 Pu'u O Kila Lookout
        .links
          .link.map
            %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=22.151809222892375%2C-159.6557791735807&z=13", target: "_blank"}
          .link.website
            %a{href: "https://www.to-hawaii.com/kauai/scenicdrives/waimeacanyondrive.php", target: "_blank"}
          .link.images
            %a{href: "https://www.google.com/search?tbm=isch&q=Pu%27u+O+Kila+Lookout", target: "_blank"}
        .info.address Pihea Trail, Kapaa, HI 96746
        .info.notes "The most impressive view."
        %cite.info.frommers-guide-book-page Frommer's pg. 519
      .meal.snack
        %h4 Snack
      .attraction.major.beach.omg
        %h4 Po'ipu Beach Park
        .links
          .link.map
            %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=21.88165359176226%2C-159.4592851716704&z=13", target: "_blank"}
          .link.website
            %a{href: "https://www.to-hawaii.com/kauai/beaches/poipu-beach-park.php", target: "_blank"}
          .link.images
            %a{href: "https://www.google.com/search?tbm=isch&q=Po%27ipu+Beach+Park", target: "_blank"}
        .info.address Hoona Rd, Po'ipu, HI 96756
        .info.phone +1 808-742-7444
        .info.notes So good we went back for the sunset.
        %cite.info.frommers-guide-book-page Frommer's pg. 532
      .meal.dinner
        %h4 Dinner
    .day
      %h3 Day 8 - Friday Nov 3
      .meal.breakfast
        %h4 Breakfast
      .airport.departing
        %h4 Lihue Airport (LIH)
        .links
          .link.map
            %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=21.98722376037447%2C-159.35138284917304&z=13", target: "_blank"}
          .link.website
            %a{href: "http://airports.hawaii.gov/lih/", target: "_blank"}
          .link.images
            %a{href: "https://www.google.com/search?tbm=isch&q=Lihue+Airport", target: "_blank"}
        .info.address 3901 Mokulele Loop, Lihue, HI 96766
        .info.phone +1 808-274-3800
        %cite.info.frommers-guide-book-page Frommer's pg. 490
        .flight
          %h5 Flight
          .flight-number HA 244
          .departure-location Lihue Airport (LIH)
          .departure-time 12:28 PM
          .duration 49m
          .arrival-location Kahului Airport (OGG)
          .arrival-time 1:17 PM
          .price $109.11 × 2 = $218.22
  .island
    %h2 Maui
    .day
      %h3 Day 8 - Friday Nov 3
      .airport.arriving
        %h4 Kahului Airport (OGG)
        .links
          .link.map
            %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=20.913948416418336%2C-156.454111709421&z=12", target: "_blank"}
          .link.website
            %a{href: "http://airports.hawaii.gov/ogg/", target: "_blank"}
          .link.images
            %a{href: "https://www.google.com/search?tbm=isch&q=Kahului+Airport", target: "_blank"}
        .info.address 1 Keolani Pl, Kahului, HI 96732
        .info.phone +1 808-872-3830
        %cite.info.frommers-guide-book-page Frommer's pg. 291
        .flight
          %h5 Flight
          .flight-number HA 244
          .departure-location Lihue Airport (LIH)
          .departure-time 12:28 PM
          .duration 49m
          .arrival-location Kahului Airport (OGG)
          .arrival-time 1:17 PM
          .price $109.11 × 2 = $218.22
      .rental-car
        %h4 Rental Car
        .company Budget
        .car-size Jeep Wrangler
        .price $132.90
        .pickup
          %h5 Pickup
          .location Kahului Airport (OGG)
          .time 2:00 PM
          .date 11/3/17
        .dropoff
          %h5 Dropoff
          .location Kahului Airport (OGG)
          .time 10:00 PM
          .date 11/6/17
      .meal.snack
        %h4 Snack
      .attraction.normal.beach
        %h4 Kahekili Beach Park
        .links
          .link.map
            %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=20.94498776873017%2C-156.70276010092448&z=13", target: "_blank"}
          .link.website
            %a{href: "http://mauiguidebook.com/beaches/kahekili-beach-park/", target: "_blank"}
          .link.images
            %a{href: "https://www.google.com/search?tbm=isch&q=Kahekili+Beach+Park", target: "_blank"}
        .info.address 65 Kai Ala Dr, Lahaina, HI 96761
      .meal.dinner
        %h4 Dinner
        .restaurant
          %h5 Lahaina Grill
          .links
            .link.map
              %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=20.876522713878664%2C-156.68405352648927&z=13", target: "_blank"}
            .link.website
              %a{href: "https://lahainagrill.com/menu-2/", target: "_blank"}
            .link.images
              %a{href: "https://www.google.com/search?tbm=isch&q=Lahaina+Grill", target: "_blank"}
            .link.reviews
              %a{href: "https://www.yelp.com/biz/lahaina-grill-lahaina", target: "_blank"}
          .info.address 127 Lahainaluna Rd, Lahaina, HI 96761
          .info.phone +1 808-667-5117
          .info.hours 5:00 PM - 9:00
          .info.rating.five-stars 4.7
          .info.price-range $$$
          .info.genre American, seafood
          %cite.info.frommers-guide-book-page Frommer's pg. 391
    .day
      %h3 Day 9 - Saturday Nov 4
      .meal.breakfast
        %h4 Breakfast
      .attraction.major
        %h4 Dragon's Teeth
        .links
          .link.map
            %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=21.005409502729496%2C-156.66774118002604&z=13", target: "_blank"}
          .link.website
            %a{href: "https://www.to-hawaii.com/maui/attractions/dragonsteeth.php", target: "_blank"}
          .link.images
            %a{href: "https://www.google.com/search?tbm=isch&q=Dragon%27s+Teeth+Maui", target: "_blank"}
        .info.address Dragon's Teeth Access Trail, Lahaina, HI 96761
      .attraction.normal
        %h4 Honolua Bay
        .links
          .link.map
            %a{href: "", target: "_blank"}
          .link.website
            %a{href: "", target: "_blank"}
          .link.images
            %a{href: "https://www.google.com/search?tbm=isch&q=", target: "_blank"}
        .info.address
        .info.phone
        %cite.info.frommers-guide-book-page Frommer's pg.
      .attraction.normal
        %h4 Nakalele Blowhole
        .links
          .link.map
            %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=21.025146822484018%2C-156.58997857626628&z=15", target: "_blank"}
          .link.website
            %a{href: "https://www.to-hawaii.com/maui/attractions/nakaleleblowhole.php", target: "_blank"}
          .link.images
            %a{href: "https://www.google.com/search?tbm=isch&q=Nakalele+Blowhole", target: "_blank"}
        .info.address Mile Marker 38, North of Lahaina on Hwy 30, Lahaina, HI
        .info.notes.danger Requires a 15 minute walk from Kahekili Hwy. Dangerous waves can occur without warning.
      .meal.lunch
        %h4 Lunch
      .meal.snack
        %h4 Snack
      .attraction.normal.beach
        %h4 Wailea Beach
        .links
          .link.map
            %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=20.71841594168609%2C-156.454111709421&z=12", target: "_blank"}
          .link.website
            %a{href: "https://www.to-hawaii.com/maui/beaches/waileabeach.php", target: "_blank"}
          .link.images
            %a{href: "https://www.google.com/search?tbm=isch&q=Wailea+Beach", target: "_blank"}
        .info.address Wailea Alanui Dr, Wailea, HI 96753
        .info.phone +1 808-879-4364
        %cite.info.frommers-guide-book-page Frommer's pg. 327
      .meal.dinner
        %h4 Dinner
    .day
      %h3 Day 10 - Sunday Nov 5
      .meal.breakfast
        %h4 Breakfast
      .attraction.normal
        %h4 The Road to Hana
        .links
          .link.map
            %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=20.85789885591582%2C-156.17716825373236&z=11", target: "_blank"}
          .link.website
            %a{href: "http://roadtohana.com/", target: "_blank"}
          .link.images
            %a{href: "https://www.google.com/search?tbm=isch&q=The+Road+to+Hana", target: "_blank"}
        %cite.info.frommers-guide-book-page Frommer's pg. 313
      .meal.lunch
        %h4 Lunch
      .attraction.normal
        %h4 Hasegawa General Store
        .links
          .link.map
            %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=20.78644091285426%2C-156.0032296813256&z=18", target: "_blank"}
          .link.website
            %a{href: "http://www.hanamaui.com/the-hasegawa-general-store-and-uniquely-hana-items/", target: "_blank"}
          .link.images
            %a{href: "https://www.google.com/search?tbm=isch&q=Hasegawa+General+Store", target: "_blank"}
        .info.address 5165 Hana Hwy, Hana, HI 96713
        .info.phone +1 808-248-8231
      .attraction.major.beach
        %h4 Wai'anapanapa State Park
        .links
          .link.map
            %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=20.793118190665805%2C-156.01252523695962&z=13", target: "_blank"}
          .link.website
            %a{href: "https://www.to-hawaii.com/maui/beaches/waianapanapa-black-sand-beach.php", target: "_blank"}
          .link.images
            %a{href: "https://www.google.com/search?tbm=isch&q=Wai%27anapanapa+State+Park", target: "_blank"}
        .info.address Hana Hwy near mile marker 32, Hana, HI 96713
        .info.phone +1 808-984-8109
        %cite.info.frommers-guide-book-page Frommer's pg. 330
      .meal.dinner
        %h4 Dinner
        .restaurant
          %h5 Merriman's
          .links
            .link.map
              %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=21.001005164453375%2C-156.67981369189454&z=13", target: "_blank"}
            .link.website
              %a{href: "https://www.merrimanshawaii.com/kapalua/dinner-menu/", target: "_blank"}
            .link.images
              %a{href: "https://www.google.com/search?tbm=isch&q=Merriman%26s+Kapalua", target: "_blank"}
            .link.reviews
              %a{href: "https://www.yelp.com/biz/merrimans-kapalua-lahaina-2", target: "_blank"}
          .info.address 1 Bay Club Pl, Lahaina, HI 96761
          .info.phone +1 808-669-6400
          .info.hours 3:00 PM - 9:00 PM
          .info.rating.five-stars 4.6
          .info.price-range $$$
          .info.genre American, seafood
          %cite.info.frommers-guide-book-page Frommer's pg. 402
    .day
      %h3 Day 11 - Monday Nov 6
      .meal.breakfast
        %h4 Breakfast
      .attraction.major.omg
        %h4 Haleakalā National Park
        .links
          .link.map
            %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=20.74830173595671%2C-156.24866967895593&z=11", target: "_blank"}
          .link.website
            %a{href: "https://www.nps.gov/hale/index.htm", target: "_blank"}
          .link.images
            %a{href: "https://www.google.com/search?tbm=isch&q=Haleakala+National+Park", target: "_blank"}
        .info.address Kula, HI 96790
        .info.phone +1 808-572-4400
        %cite.info.frommers-guide-book-page Frommer's pg. 310
      .meal.dinner
        %h4 Dinner
        .restaurant
          %h5 Mama's Fish House
          .links
            .link.map
              %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=20.932916969269815%2C-156.3776175276612&z=13", target: "_blank"}
            .link.website
              %a{href: "https://www.mamasfishhouse.com/menus/", target: "_blank"}
            .link.images
              %a{href: "https://www.google.com/search?tbm=isch&q=Mama%27s+Fish+House+Maui", target: "_blank"}
            .link.reviews
              %a{href: "https://www.yelp.com/biz/mamas-fish-house-paia-9", target: "_blank"}
          .info.address 799 Poho Pl, Paia, HI 96779
          .info.phone +1 808-579-8488
          .info.hours 11:00 AM - 9:00 PM
          .info.rating.five-stars 4.6
          .info.price-range $$$
          .info.genre Hawaiian, seafood
          .info.notes "Top 10 Fine Dining Restaurants in the US." - Trip Advisor. "Second most popular restaurant in the US." - Open Table
      .airport.departing
        %h4 Kahului Airport (OGG)
        .links
          .link.map
            %a{href: "https://www.google.com/maps/d/u/0/edit?mid=1STSEArZFhxUzkvjDVSELTVNaWQs&ll=20.913948416418336%2C-156.454111709421&z=12", target: "_blank"}
          .link.website
            %a{href: "http://airports.hawaii.gov/ogg/", target: "_blank"}
          .link.images
            %a{href: "https://www.google.com/search?tbm=isch&q=Kahului+Airport", target: "_blank"}
        .info.address 1 Keolani Pl, Kahului, HI 96732
        .info.phone +1 808-872-3830
        %cite.info.frommers-guide-book-page Frommer's pg. 291
        .flight
          %h5 Flight
          .flight-number AA 645
          .departure-location Kahului Airport (OGG)
          .departure-time 11:20 PM
          .duration 5h 43m
          .connections
            %h6 Connections:
            .connection
              .flight-number AA 560
              .connection-location Phoenix Sky Harbor International Airport (PHX)
              .connection-arrival-time 8:03 AM
              .connection-departure-time 11:50 AM
              .connection-layover-duration 3h 47m
              .connection-duration 2h 23m
          .arrival-location Dallas/Fort Worth International Airport (DFW)
          .arrival-time 3:13 PM
          .total-duration 11h 53m
          .price $595.80 + $5.60 = $601.40
  .total.price
    %h2 Total
    %table
      %tbody.flights
        %tr.line-item
          %th DFW to HNL
          %td $502.80 + $5.60
          %td $508.40
        %tr.line-item
          %th HNL to LIH
          %td $72.00 × 2
          %td $144.00
        %tr.line-item
          %th LIH to OGG
          %td $109.11 × 2
          %td $218.22
        %tr.line-item
          %th OGG to DFW
          %td $595.80 + $5.60
          %td $601.40
        %tr.subtotal
          %td{colspan: "3"} $1,472.02
      %tbody.hotels
        %tr.line-item
          %th O'ahu - Royal Hawaiian
          %td $342.15 × 3
          %td $1,026.45
        %tr.line-item
          %th Kaua'i - Courtyard Marriott Kaua'i at Coconut Beach
          %td $272.20 × 4
          %td $1,088.79
        %tr.line-item
          %th Maui - Royal Lahaina
          %td $277.87 × 3
          %td $833.61
        %tr.subtotal
          %td{colspan: "3"} $2948.85
      %tbody.rental-cars
        %tr.line-item
          %th O'ahu - Budget
          %td
          %td $126.07
        %tr.line-item
          %th Kaua'i - Alamo
          %td
          %td $174.73
        %tr.line-item
          %th Maui - Budget
          %td
          %td $132.90
        %tr.subtotal
          %td{colspan: "3"} $433.70
      %tbody.grand-total
        %tr
          %td{colspan: "3"} $4854.57
